#main {
    padding-left: 5%;
    padding-right: 5%;
}

#about-me-blurb {

    background: #ae81ff;
    /*color: #ae81ff;*/
}

#counselling-faq-excerpt {
    background: #66d9ef;
    /*color: #66d9ef;*/
}