<head>
    <meta charset="utf-8">
    <title>Daves Site</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="/screen.css" type="text/css">-->
    <link rel="stylesheet" href="/style.css" type="text/css">
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
</head>